ul{
    list-style-type: none;
}


.nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(126, 214, 196);
    padding: 10px;
    width: 100%;
    margin-top: -10px; 
    margin-left: -10px;
    height: 20px;
}

ul li:hover{
 background-color: #ffd91c;
 padding: 5px;
 
}

.sidenav{
    display: flex;
    flex-direction: column;
     width: 40px;
      position: fixed;
     height: 500px;
    align-items: flex-start;
  
    background-color: rgb(126, 214, 196);
    padding: 10px;
    margin-top:-20px; 
    margin-right: -10px; 
    margin-left: -10px; 

}