.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #e7881b;
  position: fixed;
  height: 100%;
  overflow: auto;
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.sidebar a.active {
  background-color: #ffd91c;
  color: white;
}


.sidebar a:hover:not(.active) {
  background-color: #ffd91c;
  color: white;
}
