body {
  margin: 0;
  padding: 0;

}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}


ul h2
{
    color:#e7881b;
}

ul li button:hover {
  background-color: #e7881b;
  
}

ul li button{
  background-color: #e7881b;
  border-radius: 15%;
  padding: 5px;
  
}

.color-mode {
  background-color: black;
  color: white;
}


