.activity-section {
  margin-left: 400px;
  margin-top: 100px;
  padding: 20px;
  border: 5px solid #33687d;
 
  border-radius: 8px;
    width: 600px;
    

}

.activity-section h3 {
  color: #33687d;
  margin-bottom: 10px;
}

.activity-table {
  width: 600px;
  border-collapse: collapse;
}

.activity-table th, .activity-table td {
  border: 1px solid #ddd;
  padding: 8px 12px;
  text-align: left;
}

.activity-table th {
  background-color:#a0d1de;;
  color: white;
}
