.dashboard {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  margin-top: 50px;

  }

.container {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;  
  gap: 15px;
  margin-left: 250px;
  margin-top: 20px;
}

.card {
  border-radius: 8px;
  padding: 12px;
  width: 200px;
  text-align: center;
  
  background-color: #e7881b;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card h4 {
  margin: 0;
  font-size: 18px;
}
