.chart-container {
  width: 650px;
  height: 320px;
  margin-right: 20px;
}

.chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

#chartFilter {
  padding: 6px 10px;
  border-radius: 8px;
  background-color: #65b1cf;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}


   /* RESPONSIVE DESIGN */


/* Tablet View */
@media (max-width: 992px) {
  .chart-container {
    width: 90%;
    height: 300px;
    margin: 0 auto;
  }

  #chartFilter {
    margin-right: 0;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .chart-container {
    width: 100%;
    height: 260px;
  }

  #chartFilter {
    width: 80%;
    font-size: 14px;
    padding: 5px 8px;
  }
}

/* Small Mobile View */
/* @media (max-width: 480px) {
  .chart-container {
    width: 100%;
    height: 220px;
  }

  #chartFilter {
    width: 90%;
    font-size: 13px;
    padding: 5px;
    border-radius: 6px;
  }
} */
