
.chart-container {
  width: 650px;       
  height: 320px;
  margin-right: 20px;
}

.chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

#chartFilter {
  padding: 6px 10px;
  border-radius: 8px;
   background-color:  #65b1cf;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top:10px;
  cursor: pointer;
}

