
.chart-container {
  width: 650px;       
  height: 320px;
  margin-right: 20px;
}

.chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

#chartFilter {
  padding: 6px 10px;
  border-radius: 8px;
  border: 3px solid rgb(255, 115, 0);
   background-color: #e7881b;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top:10px;
  cursor: pointer;
}

 #chartFilter button:hover {
  background-color: #ffd91c;
  
}