.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background-color: #a0d1de;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar Links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #33687d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #33687d;
  color: white;
}


   /* RESPONSIVE DESIGN */


/* Tablet View */
@media (max-width: 992px) {
  .sidebar {
    width: 200px;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar a {
    display: inline-block;
    padding: 12px;
    text-align: center;
  }
}

/* Small Mobile View */
/* @media (max-width: 480px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .sidebar a {
    padding: 10px;
    font-size: 14px;
  }
} */
