.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
   background-color: #a0d1de;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* border: 3px solid; */
  /* border-color: rgb(255, 115, 0); */
}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


.sidebar a.active {
  background-color: #33687d;
  color: white;
}


.sidebar a:hover:not(.active) {
 background-color: #33687d;
  color: white;
}
