body {
  margin: 0;
  padding: 0;

}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a0d1de;
  /* border: 5px solid; */
  /* border-color: rgb(255, 115, 0); */
}



ul li button:hover {
  background-color: #ffd91c;
  
}

ul li button{
  background-color: #65b1cf;
   /* border: 3px solid rgb(255, 115, 0); */

  border-radius: 15%;
  padding: 5px;
  
}


.toast {
  visibility: hidden;
  width: 500px;
  background-color: rgb(38, 98, 125); 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  margin-left: 500px;
  margin-top: 10px;
  opacity: 10;
  transition: opacity 0.5s, bottom 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.color-mode {
  background-color: black;
  color: white;
}


